#recommandations {
  border-style: solid;
  border-width: 2px;
  border-color: #b4b4b4;
  margin: auto;
  width: 65%;
  padding: 25px;
}

h2 {
  font-size: 25px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.grid-container {
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-columns: auto auto auto auto auto auto;

  justify-items: center;
}

:host >>> app-product #product-title {
  font-size: 20px;
}

:host >>> app-product #product-image {
  width: 190px;
  height: 190px;
}
