<div class="center">
  <div class="product-details" *ngIf="product$ | async as product">
    <img class="productImg" src="{{product.image}}" alt="product image">
    <h2>{{ product.title }}</h2>
    <h3>Price</h3>
    <p>{{ product.price}}</p>
    <h3>Ingredients</h3>
    <p>{{ product.description }}</p>
    <button class="confirmation-button"><a (click)="showConfirmation()">Buy Online</a></button>
  </div>
  <button class="back-button" (click)="backToProductOverview()">Back to all products</button>
</div>
<app-recommendations></app-recommendations>
