header {
  background-color: #ffa500;
  height: 100%;
  background-size: cover;
}

.header-txt {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
  letter-spacing: 0.2em;
}

h1 {
  font-size: 65px;
  font-weight: 100;
  margin-bottom: 30px;
  margin-top: 0;
}

h2 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: 1fr;
  padding: 100px 50px 50px;
  margin: auto;
  width: 50%;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

app-product {
  min-width: 0;
}
