/*
 * SPDX-FileCopyrightText: 2022 Carl Zeiss AG
 *
 * SPDX-License-Identifier: MIT
 */

@mixin button {
  padding: 15px 32px;
  font-size: 20px;
  cursor: pointer;
}

@mixin button-primary {
  @include button;

  background-color: var(--color-button-primary);
  border: 3px solid var(--color-button-primary);
  color: var(--color-highlight-text);

  &:hover {
    background-color: var(--color-button-primary-hover);
  }
}

@mixin button-secondary {
  @include button;

  background-color: var(--color-button-secondary);
  border: 3px solid var(--color-button-primary);
  color: var(--color-content-text);

  &:hover {
    border-color: var(--color-button-primary-hover);
  }
}

@mixin header-style {
  background-color: var(--color-highlight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-highlight-text);
  letter-spacing: 0.2em;
  padding: 20px;

  h1 {
    font-size: 65px;
    font-weight: 100;
    margin: 30px 0;
  }

  h2 {
    font-size: 35px;
    font-weight: 100;
  }

  app-theme-switcher {
    align-self: end;
  }
}
