/*
 * SPDX-FileCopyrightText: 2022 Carl Zeiss AG
 *
 * SPDX-License-Identifier: MIT
 */

@use 'colors';

html,
body {
  &.dark-theme {
    /* Main theme colors */
    --color-highlight: #{colors.$color-orange};
    --color-highlight-dark: #d17332;
    --color-secondary: #{colors.$color-nobel};

    /* Background */
    --color-background: #1a1a1a;
    --color-card-bg: #2d2d2d;

    /* Buttons */
    --color-button-primary: #{colors.$color-orange};
    --color-button-primary-hover: #{colors.$color-orange-light};
    --color-button-secondary: #3a3a3a;

    /* Text */
    --color-highlight-text: #{colors.$color-black};
    --color-content-text: #{colors.$color-white};

    /* Cart */
    --color-cart-border: #{colors.$color-white};
    --color-cart-background: #2d2d2d;
    --color-cart-item-bg: #3a3a3a;
    --color-item-border: #404040;
  }
}
