:host(.small) {
  font-size: 20px;
}

:host(.big) {
  font-size: 25px;
}

img {
  cursor: pointer;
}

.product {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-secondary);
  height: 100%;

  &:hover {
    border-color: var(--color-highlight);
  }

  &-title {
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-image {
    padding-top: 10px;
    width: 100%;
  }
}
