:host(.small) {
  font-size: 20px;
}

:host(.big) {
  font-size: 25px;
}

img {
  cursor: pointer;
}

.product {
  border-style: solid;
  border-width: 2px;
  border-color: #b4b4b4;
  height: 100%;
}

.product:hover {
  border-color: #ffa500;
}

.product-title {
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.product-image {
  padding-top: 10px;
  width: 100%;
}

