@use 'colors';

html,
body {
  &.light-theme {
    --color-border-product: #{colors.$color-nobel};
    --color-border-product-hover: #{colors.$color-orange};
    --color-border-button: #{colors.$color-orange};
    --color-header-background: #{colors.$color-orange};
    --color-header-text: #{colors.$color-white};
    --color-content-background: #{colors.$color-white};
    --color-content-text: #{colors.$color-black};
  }
}
