/*
 * SPDX-FileCopyrightText: 2022 Carl Zeiss AG
 *
 * SPDX-License-Identifier: MIT
 */

.theme-switcher {
  border: 0;
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
  margin: 0.5em;
  /* preventing to be not clickable because of shopping cart */
  z-index: 1000;
  position: relative;
}
