@import 'src/support/styling/dark-theme';
@import 'src/support/styling/light-theme';

html,
body {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--color-content-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}
