@use '../../../../../support/styling/common-styles' as common;

.center {
  width: 40%;
  margin: 100px auto auto;
  text-align: center;
}

.product-details {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-secondary);
  padding-left: 100px;
  text-align: left !important;

  h2 {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 0;
  }

  h3 {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 0;
    line-height: 0.5;
  }

  p {
    font-size: 20px;
  }
}

.product-img {
  float: left;
}

.confirmation-button {
  @include common.button-primary;
}

.back-button {
  margin: 50px;
  @include common.button-secondary;
}
